body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todolist {
  max-width: 300px;
}

.todolist>h1 {
  color: wheat;
  margin: 0;
  text-align: center;
  border: solid white 1px;
  border-radius: 10px;
}

.addNewItem {
  display: flex;
}

.addNewItem>input {
  margin: 0;
  width: 80%;
  border-radius: 10px;
  resize: none;
  font-size: x-large;
}

.addNewItem>img {
  width: 40px;
  transition: transform .7s ease-in-out;
}

.addNewItem>img:hover {
  cursor: pointer;
  transform: rotate(360deg);
}

.todolist_item_parent {
  height: 40px;
  max-width: 300px;
  background-color: wheat;
  border: solid black 1px;
  border-radius: 10px;
}

.todolist_content {
  max-width: 300px;
  max-height: 40px;
  line-height: 40px;
}

.text {
  float: left;
  padding-left: 10px;
  color: black;
  margin: 0;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: x-large;
}

.button {
  float: right;
  padding-right: 5px;
}

.remove {
  width: 20px;
  vertical-align: text-top;
}

.validate {
  margin-right: 5px;
  transform: scale(1.5);
}

.validate,
.remove:hover {
  cursor: pointer;
}

.errors {
  color: red;
  font-size: larger;
}

.strike {
  text-decoration: underline 4px;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
}